<%inherit file="_base.html"/>

% if title:
<h1>${title}</h1>
% endif

<p class="time" title="${date.isoformat()}">
  ${date.strftime('%e %B %Y')}
  % if posted:
    (posted ${posted.strftime('%e %B %Y')})
  % endif
</p>

${content}

<%def name="footer()">
  <p>
    % if tags:
      % for i, tag in enumerate(tags_by_name()):
        ${i and '<span class="sep">|</span>' or ''}
        <a href="${tag.url}">${tag.title}</a>
      % endfor
    % endif
  <p>
    % if prevpost:
      <a href="${prevpost.url}">&larr; ${prevpost.title or 'Untitled'}</a>
      <span class="sep">|</span>
    % endif

    <a href="${get(date.year).url}">${date.year}</a>

    % if nextpost:
      <span class="sep">|</span>
      <a href="${nextpost.url}">${nextpost.title or 'Untitled'} &rarr;</a>
    % endif
</%def>
